.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
}

.imageContainer {
  flex: 1;
  width: 500px;
  height: 500px;
  position: relative;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

.desc {
  text-align: justify;
}

.img {
  animation: move 3s ease-in-out 0s infinite;
  object-fit: contain;
}

@keyframes move {
  0% {
    transform: translateY(0); /* Start at current position */
  }
  50% {
    transform: translateY(20px); /* Move down by 20 pixels */
  }
  100% {
    transform: translateY(0); /* Back to starting position */
  }
}
