.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
}
.imageContainer {
  flex: 1;
}

.title {
  background: linear-gradient(to bottom, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  margin-top: 50px;
  text-align: justify;
  margin-bottom: 50px;
}

.imageContainer {
  position: relative;
  height: 400px;
  background-color: transparent;
}

.img {
  background-color: transparent;
}
