.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.parent {
  display: flex;
  gap: 10px;
}

.link {
  padding: 8px;
  width: 100px;
  text-align: center;
  font-size: 15;
  user-select: none;
}

.current {
  color: black;
  border-radius: 8px;
  background-color: white;
}
